{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">

  <h1>{{ title }}</h1>
  <p>Welcome to {{ title }}</p>
  <div class="container">
    Original: {{array1}}
    <br>
    <ul>
      New Array:
      {% if title != "Shuffle" %}
      {% for chunk in array2 %}
      <li>{{chunk}}</li>
      {%endfor%}
      {%else%}
      <li>{{array2}}</li>
      {%endif%}
    </ul>
  </div>
  <form class="" action="/" method="get">
    <input type="submit" name="name" value="Reset">
  </form>

</div>

{% endblock %}
